body {
	font-family: monospace;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
	overflow-y: scroll;
}

.header {
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 4px;
	padding: 2px 6px;
}

h3, h5 {
	color: #555;
}